.tag_global_styling {
  background-color: #ff6060;
  color: white;
  text-align: center;
  min-width: 95px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  padding: 4px 8px;
  white-space: nowrap;
}

@media screen and (max-width: 750px) {
  .tag_global_styling {
    font-size: 11px;
    min-width: 85px;
  }
}
