.collapse_global_styling {
  font-size: 24px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.hide_collapsable_background {
  height: fit-content;
}

.small_font {
  font-size: 18px;
}

.collapse_global_styling button {
  background: #ff6060;
  border: none;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 24px;
  padding: 10px 20px;
}

.collapse_global_styling button:hover {
  cursor: pointer;
}

.rotated_chevron {
  transform: rotate(180deg);
}

.collapsable_content {
  padding-left: 18px;
  padding-right: 27px;
  padding-bottom: 20px;
  padding-top: 18px;
}

.collapsable_content p {
  margin: 0;
  margin-top: 0;
}

.collapsable_content ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  height: fit-content;
}

.collapsable_content li {
  margin-bottom: 4px;
}

@media screen and (max-width: 750px) {
  .collapse_global_styling {
    font-size: 13px;
  }

  .small_font {
    font-size: 14px;
  }

  .collapse_global_styling button {
    font-size: 13px;
    padding: 6px 11px;
  }

  .collapse_global_styling button img {
    width: 18px;
    height: 18px;
  }

  .collapsable_content {
    padding-left: 12px;
    padding-bottom: 20px;
    padding-right: 12px;
  }
}
